<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>$(BASE_URL)</string>
	<key>ExchangeAPIKey</key>
	<string>$(EXCHANGE_API_KEY)</string>
	<key>fastAPIbaseURL</key>
	<string>$(FASTAPI_BASE_URL)</string>
	<key>fastAPIusername</key>
	<string>$(FASTAPI_USERNAME)</string>
	<key>fastAPIpassword</key>
	<string>$(FASTAPI_PASSWORD)</string>
</dict>
</plist>
